@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  height: 100%;
  width: 100%;
  --gradient-color-1: #000000;
  --gradient-color-2: #000000;
  --gradient-color-3: #0e0900;
  --gradient-color-4: #ff4f14;
}

*::selection {
  background-color: black;
  color: #f45a22;
}
