@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  height: 100%;
  width: 100%;
  --gradient-color-1: #000000;
  --gradient-color-2: #000000;
  --gradient-color-3: #0e0900;
  --gradient-color-4: #ff4f14;
}

*::selection {
  background-color: black;
  color: #f45a22;
}

::-webkit-scrollbar {
  position: absolute;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4f1420;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff4f14be;
}
